.anime-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

body {
    background-color: #F9F7F7;
}

/* Estilos para a caixa de pesquisa */
.search-box {
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #1900ff;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 40px;
    
}

.search-icon {
    position: absolute;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    right: 10px;
    top: 47%;
    transform: translateY(-50%);
    color: #ff0000;
    cursor: pointer;
    margin-right: 35%;
    
    
}

/* Efeitos de transição para a caixa de pesquisa */
.search-input,
.search-icon {
    transition: all 0.3s ease-in-out;
}

/* Efeito de foco */
.search-input:focus {
    border-color: #007bff;
}

.search-input:focus+.search-icon {
    color: #007bff;
}

/* Efeito de hover */
.search-box:hover .search-input {
    border-color: #007bff;
}

.search-box:hover .search-icon {
    color: #007bff;
}